Semester 3/N-Tiered Case Study/HelpdeskCase2/HelpdeskBusinessUserObjects/Service References/EmployeeDataReference/HelpdeskDataServices.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HelpdeskDataServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HelpdeskDataServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" />
  <xs:complexType name="ArrayOfSerializedEmployee">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SerializedEmployee" nillable="true" type="tns:SerializedEmployee" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSerializedEmployee" nillable="true" type="tns:ArrayOfSerializedEmployee" />
  <xs:complexType name="SerializedEmployee">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/System.Data.Objects.DataClasses" base="q1:ComplexObject">
        <xs:sequence>
          <xs:element minOccurs="0" name="DepartmentID" type="xs:int" />
          <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeID" type="xs:int" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsTech" nillable="true" type="xs:boolean" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Timer" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SerializedEmployee" nillable="true" type="tns:SerializedEmployee" />
</xs:schema>